<!-- About Section -->
    <section id="about">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Offices</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-lg-12 no-padding">
                    <ul class="office-list">
                        <li class="office-list__item">
                            <div class="office-list__image">
                                <img class="img-responsive" src="img/about/1.jpg" alt="Denmark office image">
                            </div>
                            <div class="office-list__descritption">
                                <div class="">
                                    <h4>DK office</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="">
                                    <p class="text-muted">Fruebjergvej 3</p>
                                    <p class="text-muted">2100 Copenhagen, Denmark</p>
                                </div>
                            </div>
                        </li>
                         <li class="office-list__item">
                            <div class="office-list__image">
                                <img class="img-responsive" src="img/about/2.jpg" alt="CRO office image">
                            </div>
                            <div class="office-list__descritption">
                                <div class="">
                                    <h4>CRO office</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="">
                                    <p class="text-muted">114. hrvatske brigade 8</p>
                                    <p class="text-muted">Split, Croatia</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--<ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>US office</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">10596 NE Kingston Meadows Circle</p>
                                    <p class="text-muted">Kingston WA 98346 USA</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>EU office</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">114. hrvatske brigade 8</p>
                                    <p class="text-muted">Split, Croatia</p>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </section>
