<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Clients</h2>
                <h3 class="section-subheading text-muted">By delivering predictable results, from business and techincal point of view, we build strong long running relationship with clients from Denmark, the Netherlands and the US.</h3>
            </div>
        </div>
        <div class="row text-center margin-b">
            <div class="col-md-4">
                <div class="service__box">
                    <img class="service__image" src="img/icons/svg/dk.svg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="service__box">
                    <img class="service__image" src="img/icons/svg/nl.svg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="service__box">
                    <img class="service__image" src="img/icons/svg/um.svg">
                </div>
            </div>
        </div>
    </div>
</section>
