<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">What can we do for you?</h3> -->
                </div>
            </div>
            <div class="row text-center margin-b">
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/browser-8.svg" alt="Frontedn developent">
                        <h4 class="service-heading">Mobile development</h4>
                        <p class="text-muted">Native iOS development using Objective-C and Swift.</p>
                    </div>
                </div>               
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/browser-8.svg" alt="Frontedn developent">
                        <h4 class="service-heading">Frontend development</h4>
                        <p class="text-muted">We produce slick web and mobile experience, using modern Javascript tools</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/coding.svg" alt="Backend development">
                        <h4 class="service-heading">Backend development</h4>
                        <p class="text-muted">We create performant and stable code, that's easily maintanable.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/devices.svg" alt="Responsive design">
                        <h4 class="service-heading">Responsive Design</h4>
                        <p class="text-muted">We bring your idea into beautiful reality, on desktop and mobile platforms.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/devices.svg" alt="Responsive design">
                        <h4 class="service-heading">SharePoint development</h4>
                        <p class="text-muted">Building SharePoint systems to meet client's needs</p>
                    </div>
                </div>                
            </div>
            <!-- Drugi red service-a -->
            <!--<div class="row text-center">
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/browser-7.svg" alt="Integration">
                        <h4 class="service-heading">Integration</h4>
                        <p class="text-muted">We easily integrate</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/browser-4.svg" alt="Speed and optimisation">
                        <h4 class="service-heading">Speed and optimisation</h4>
                        <p class="text-muted">We care for your website UX, so we optimise our code.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service__box">
                        <img class="service__image" src="img/icons/svg/devices-1.svg" alt="frontend development">
                        <h4 class="service-heading">Mobile development</h4>
                        <p class="text-muted">We bring your idea into beautiful reality, on desktop and mobile platforms.</p>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
