<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <h3 class="section-subheading text-muted">We consider ourselves language agnostics, but here are technologies we are most experienced in.</h3>
                </div>
            </div>
            <div class="row">
                {% for tech in site.tech %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/tech/{{ tech.pic }}.png" class="img-responsive img-circle" alt="">
                        <h4>{{ tech.name }}</h4>
                        <p class="text-muted">{{ tech.details }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>